{
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-console": "off",
    "indent": [ "error", 2 ],
    "quotes": [ "error", "single" ],
    "semi": ["error", "always"],
    "linebreak-style": [ "error", "unix" ]
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "jasmine": true
  },
  "globals": {
    "__API_URL__": false,
    "__DEBUG__": false,
  },
  "ecmaFeatures": {
    "modules": true,
    "experimentalObjectRestSpread": true,
    "impliedStrict": true
  },
  "extends": "eslint:recommended"
}
